
body{
    font-family: 'Bank Sans EF CY Lig', serif;
    align-items: center;
    background-color: #000026;
  }

header{
    background-color:#D9D9D9;
    justify-content: center;
    flex-grow: 1;
    display: flex;
    align-items: center;
}

img{
    width: 80%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
}

h1{
    font-size: 60px;
    color: #2A4348;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #D9D9D9;
    text-align: center;
}

h2{
    background-color: #D9D9D9;
    text-align: center;
}

h3{
    color: white;
    font-size: 30px;
}
h4{
    color: white;
    font-size: 20px;
}

#hero-div{
    width: 100%;
}

#heroes-section-title{
    text-align:center;
    width: 40%;
}

#role-div{
    display: flex;
    justify-content: flex-end;
}

.role-block{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
}

#role-div img{
    width:109%;
    border-radius: 60px;
    padding: 1px;
}

#role-div img:hover{
    padding: 0px;
    border: 1px solid aqua;
}
 
.role-title{
    padding-left: 75px;
    padding-right: 75px;
}

.role-desc{
    width: 100%;
    padding: 5% 10% 5% 10%;
    text-align: center;
    color: black;
    background-color:#D9D9D9;
    border-radius: 60px;
}

#gamemode-div{
    padding-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#gamemodes-div{
    width: 100%;
    display: flex;
    flex-direction: column;
}

#gamemodes-section-title{
    text-align: center;
    width: 40%;
}

#gamemodes-line-1{
    display: flex;
    width: 100%;
    padding-left: 0%;
}

#gamemodes-line-2{
    display: flex;
    width: 100%;
    margin-left: 0%;
}

#gamemodes-div img{
    min-width: 100%;
    padding: 1px;
    border-radius: 60px;
    max-width:max-content;
}

.gamemode-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-left: 10%;
}

.gamemode-block-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-right: 10%;
}

.gamemode-desc{
    background-color: #D9D9D9;
    color: black;
    border-radius: 60px;
    min-width: 100%;
    text-align: center;
    margin: 5% 10% 5% 10%;
}

#gamemodes-div img:hover{
    padding: 0px;
    border: 1px solid aqua;
}
