html {
    scroll-behavior: smooth;
  }


body{
    font-family: 'Bank Sans EF CY Lig', serif;
    align-items: center;
    overflow-y: scroll;
    background-color: black;
  }

  /* body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url('images/bg1.png');
    background-attachment: fixed;
    background-size: 100%;
    filter: blur(5px); 
  }  */

  .background{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url('images/bg1.png');
    background-attachment: fixed;
    background-size: 100%;
    filter: blur(5px); 
    transition: opacity 0.5s ease;
  }

  .background.dark{
    opacity:0.5s;
  }

header{
    background-color:#d9d9d9b0;
    justify-content: center;
    flex-grow: 1;
    display: flex;
    align-items: center;
}

img{
    width: 80%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    padding: 1px;
    background-color: #d9d9d930;
}


header img{
    background-color:#504c4c00;
}

img:hover{
    padding: 0px;
    border: 1px solid aqua;
}

header img:hover{
    padding: 1px;
    border: none;
}

h1{
    font-size: 60px;
    color: #504c4c;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #d9d9d9b0;
    text-align: center;
}

h2{
    color: white;
}

h3{
    color: white;
    font-size: 30px;
}

h4{
    color: white;
    font-size: 20px;
}

#hero-div{
    width: 100%;
}

#heroes-section-title{
    text-align:center;
    width: 40%;
}

#role-div{
    display: flex;
    justify-content: flex-end;
}

.role-block{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
}

#role-div img{
    width:109%;
    border-radius: 60px;
    padding: 1px;
}
 
.role-title{
    padding-left: 75px;
    padding-right: 75px;
}

.role-desc{
    width: 100%;
    padding: 5% 10% 5% 10%;
    text-align: center;
    color: white;
    background-color:#d9d9d944;
    border-radius: 60px;
}

#role-div img:hover{
    padding: 0px;
    border: 1px solid aqua;
}

#gamemode-div{
    padding-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#gamemodes-div{
    width: 100%;
    display: flex;
    flex-direction: column;
}

#gamemodes-section-title{
    text-align: center;
    width: 40%;
}

#gamemodes-line-1{
    display: flex;
    width: 100%;
    padding-left: 0%;
}

#gamemodes-line-2{
    display: flex;
    width: 100%;
    margin-left: 0%;
}



#gamemodes-div img{
    min-width: 100%;
    padding: 1px;
    border-radius: 60px;
    max-width:max-content;
}

.gamemode-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-left: 10%;
}

.gamemode-block-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-right: 10%;
}

.gamemode-desc{
    background-color: #d9d9d930;
    color: white;
    border-radius: 60px;
    min-width: 100%;
    text-align: center;
    margin: 5% 10% 5% 10%;
}

#gamemodes-div img:hover{
    padding: 0px;
    border: 1px solid aqua;
}

#map-div{
    display: flex;
    flex-direction: column;
}

#maps-section-title{
    width: 40%;
}

#maps-div{
    display:flex;
    flex-direction: column;
}

#maps-div img{
    min-width: 100%;
    max-width: 100%;
    padding: 1px;
    border-radius: 60px;
    max-width:max-content;
}

#maps-div img:hover{
    padding:0px;
}

#maps-line-1{
    display: flex;
    width: 100%;
}

#maps-line-2{
    display: flex;
    width: 100%;
}

.map-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-right: 10%;
}

.map-block-2{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-left: 10%;
}

.map-desc{
    background-color:#d9d9d930;
    border-radius: 60px;
    padding: 1%;
}

.page-title{
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Bank Sans EF CY Bol';
    font-stretch: condensed;
    font-size: 200px;
}

.section-title{
    font-family: 'Bank Sans EF CY Reg';
    text-align:center;
    width: 40%;
}

.section-spread{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 150px;
    row-gap: 100px;
}

#section-spread-tank{
    padding: 0px 200px 0px 200px;
    gap: 200px;
    row-gap: 100px;
}

.section-spread img{
    max-width: 200px;
    border-radius: 60px;
}

.info-spread{
    display:flex;
    flex-direction: column;
    align-items: center;
}

#hero-name{
    margin-left: -60%;
    width: 40%;
}

.info-back{
    margin-left: -80%;
    margin-bottom: 20px;
}

#pic-desc{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    padding: 0px 20px 0px 20px;
}

.info-img{
    /* width: 30%; */
    border-radius: 60px;
}

.desc-div{
    border-radius: 60px;
    background-color: #d9d9d930;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-left: 1%;
    height:100%;
    width: 80%;
}

.info-text{
    font-size: 30px;
}

#role{
    text-transform:capitalize;
}

.hero{
    width: 25%;
    aspect-ratio: 1;
}

.info-div{
    display: flex;
    flex-direction: column;
}

video{
    max-width: 800px;
    border-radius: 20px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#ability-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#ability-div img{
    padding-top: 0px;
    margin-top: 0px;
    max-width: 100px;
    background: none;
}
.ability-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ability-name{
    font-size: 50px;
    background-color: #d9d9d930;
    border-radius: 60px;
    padding: 10px;
    margin-bottom: 10px;
}

.ability-desc{
    font-size: 25px;
}

.section{
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 20px;
}

#story-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

iframe{
    width: 1280px;
    height: 720px;
    border-radius: 20px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.chapter-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chapter-title{
    font-size: 50px;
    background-color: #d9d9d944;
    border-radius: 60px;
    padding: 10px;
}

.chapter-img-desc{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.reverse{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

.chapter-img{
    width: 50%;
    height: 50%;
}

.chapter-desc{
    font-family: 'Bank Sans EF CY Lig', serif;
    text-align: center;
    font-size: 25px;
    padding: 20px;
    margin-left: 50px;
    margin-right: 50px;
    background-color: #d9d9d962;
    border-radius: 60px;
}

.summary{
    text-align: center;
    font-size: 25px;
    padding: 10px;
    margin-left: 50px;
    margin-right: 50px;
    background-color: #d9d9d930;
    border-radius: 60px;
}

#maps-section-spread{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 20px;
    gap: 150px;
}

.map-info-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 400px;
}

.map-info-div h4{
    background-color: #d9d9d930;
    border-radius: 60px;
    padding: 10px;
}

.map-info-div img{
    max-width: max-content;
    padding: 1px;
    margin: 0px;
    width: 100%;
}
.map-info-div img:hover{
    border: none;
}


.map-title{
    background-color: #504c4c00 !important;
    font-size: 30px;
}


#gamemodes-section-spread{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.gm-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.gm-name{
    font-size:30px;
    background-color: #d9d9d930;
    border-radius: 60px;
    padding: 10px;
}

.gm-desc{
    width: 300px;
    text-align: center;
    background-color:#d9d9d930;
    border-radius: 60px;
    padding: 20px;
}

.gm-img{
    max-width: 600px;
    border-radius: 60px;
}

button{
    font-family: 'Bank Sans EF CY LigObl', serif;
    font-size: 20px;
    margin-left: 100px;
    background: #d9d9d930;
    box-shadow: none;
    border-radius: 5px;
    color: orange;
    text-shadow: none;
}

.rank-icon{
    width:100px;
}

.search-page{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-page h1{
    width: 100%;
}

.search-page h2{
    background-color: none;
}

.player-info{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.player-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.ranks{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.systems{
    display: flex;
    flex-direction: column;
}

.rank-roles{
    display:flex;
    flex-direction: row;
    gap:0px;
    margin: 30px;
    margin-top: 0px;
}

.pc{
    display: flex;
    flex-direction: row;
}

.pc-div{
    display: flex;
    flex-direction: row;
}

#endorsement-img{
    background-color: rgba(0, 0, 139, 0);
    width: 50px;
    height: 50px;
}
.rank-roles img{
    width:100px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0);
}

.role-rank-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player-icon{
    width: 50px;
    height: 50px;
}

.name-img{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 20px
}

.endorsement{
    align-items: center;
}

.player-banner{
    width: 100%;
}

.rank{
    text-transform: capitalize;
}

.input-button{
    margin-top: 20px;
}

input{
    font-family: 'Bank Sans EF CY LigObl';
    width: 200px;
    text-align: center;
    font-size: 15px;
}

ul{
    display:inline-table;
    list-style-type: none;
}

/* animations */

.hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 0.75s;
}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.darken{
    opacity: 0.5;
}

.hide{
    display: none !important;
}

.dark-background {
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity (0.5 in this example) to control the darkness */
    transition: background-color 0.5s ease; /* Smooth transition for background color change */
}